header {
	background-color: #0f0f12 ;
	height: 16vh;
	box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
	padding: 15px 0;
	position: sticky;
	top: 0;
	z-index: 999;
}
header img {
	width: 72px;
}

header a {
	margin-left: 30px;
	transition: 0.5s;
	font-weight: 500;
}

header a:hover{
	color: #c9a24d;
}

header .toggle {
	display: none;
}

@media screen and (max-width: 768px){
	header {
		padding: 0;
	}
	header img {
		margin-top: 30px;
	}
	header .button {
		display: none;
	}
	header .nav .flex {
		display: none;
	}
	header .toggle {
		display: block;
		margin-top: 20px;
	}
	header .small{
		position: absolute;
		top: 14vh;
		left: 0;
		width: 100%;
		background-color:#111827 ;
		padding: 20px;
	}
	header li a {
		display: inline-block;
		margin-bottom: 20px;
		color: #f9fafb;
	}
}