

.about {
  margin-bottom: 20px;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr; /* stack vertically */
    gap: 40px;
  }

  .about p {
    padding-right: 0;
  }

  .about .right img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 92%;
  }
}


@media screen and (max-width: 768px) {
  .back h1 {
    font-size: 28px;
  }

  .heading {
    width: 100%;
    text-align: left;
  }

  .heading h1 {
    font-size: 26px;
  }
}
