@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f0f12;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  text-transform: capitalize;
}

ul{
  list-style-type: none;
}

button {
  background-color: #c9a24d;
  color: #0f0f12;
  padding: 16px 30px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button i {
  margin-right: 5px;
}

.heading {
  text-align: center;
  width: 60%;
  margin: auto;
}

.heading h1{
  color: #111827;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;

}

.heading p{
  color: #6b7280;
}

.background{
  padding: 80px 0;
  position: relative;
  background-color: #f7f9fc;
}

.grid5{
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  grid-gap:30px;
}

.mtop{
  margin-top: 50px;
}

h4{
  font-weight: 500;
  margin-top: 10px;
}

.back {
  position: relative;
  height: 320px;
  width: 100%;
  overflow: hidden;
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 18, 0.7);
  display: flex;
  align-items: center;
}

.back span {
  color: #c9a24d;
  font-size: 14px;
  letter-spacing: 1px;
}

.back h1 {
  color: #fff;
  font-size: 42px;
  margin-top: 8px;
}
